
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Firebase Functions
functions/node_modules/
functions/.env
functions/.env.*
!functions/.env.example
.runtimeconfig.json
